@import "src/styles/variables.scss";

.card-container {}

.card-wrapper {
    @include input-focus;

    position: relative;
    display: block;
    padding-top: 73.74%; //ratio
    margin: 1.07rem;

    &:hover {
        .card {
            box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);

            @include mappy-query(min-tablet) {
                top: -10px;

                .card-details {
                    height: 41%;
                }
            }
        }
    }

    @include mappy-query(max-mobile) {
        padding-top: 90%;
        margin: 0 0 1rem 0;
    }
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: $color-bg-light-tinted;
    border-radius: 0.3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    transition: top $hover-transition-style, box-shadow 0.3s ease;

    &.--action {
        box-shadow: none;

        &:hover { //ignore default hover
            top: 0;
            box-shadow: none;
        }
    }
}

.card-image, .card-action {
    height: 100%;
    width: 100%;
}

.card-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        object-fit: cover;
    }
}

.card-details {
    position: absolute;
    height: 27%;
    width: 100%;
    bottom: 0;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: $color-bg-light-tinted;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: height $hover-transition-style;

    @include mappy-query(max-tablet) {
        height: 35%;
    }
}

.card-name {
    @include text-style-normal;
    color: $color-text-dark-strong;
    max-height: 2em;
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.card-description {
    @include text-style-normal;
    color: $color-text-dark-normal;
    text-transform: none;
    font-weight: 400;
    position: relative;
    top: 0.25em;
    margin: 0;

    max-height: 0;
    overflow: hidden;
    transition: max-height $hover-transition-style;

    @include mappy-query(max-tablet) {
        top: 0.15em;
        max-height: none !important;
    }
}

.card-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid $color-text-dark-faded;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    color: $color-text-dark-normal;
    fill: $color-text-dark-normal;

    transition: background-color $hover-transition-style;

    &:hover {
        background-color: $color-text-dark-faded;
    }
}

.card-action-icon {
    width: 2.85rem;
}

.card-action-name {
    @extend .card-name;
    color: $color-text-dark-normal;
    margin-top: 0.95em;
}