@import "src/styles/variables.scss";

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

.loader {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0.25em solid $input-accent;
    border-top: 0.25em solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}