@import "src/styles/variables.scss";

.modal-background {
    position: absolute;
    z-index: 1;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.modal-close {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    padding: 0.95em 0 0.95em 0.95em;
    cursor: pointer;

    color: white;
    font-size: 1.15rem;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}

.modal-close:active {
    outline: none;
}

.modal-close:focus-visible {
    background-color: rgba(255,255,255,0.3);
    outline: none;
    border-radius: 4px;
}

.modal-close .icon {
    width: 1.7em;
    margin-right: 0.6em;
    fill: white;
}

.modal {
    min-width: 720px;
    background-color: white;
    padding: 2.15rem;
    box-sizing: border-box;
    border-radius: 0.3em;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 1.2em;
    color: $color-text-dark-strong;
}