@import "src/styles/variables.scss";

.modal-container {
    position: absolute;
    z-index: 1;
    height: 0;
    width: 100vw;
    overflow: visible;
}

.modal-background {
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    max-width: 80%;
    height: 80%;

    @include mappy-query(tablet) {
        width: 80%;
    }

    .modal-window-close {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 1em 0 1em 1em;

        @include text-style-normal;
        margin: 0;
        color: white;

        .icon {
            width: 1.7em;
            margin: -0.1em 0.6em 0 0;
            fill: white;
        }

        &:active {
            outline: none;
        }

        &:focus-visible {
            background-color: rgba(255,255,255,0.3);
            outline: none;
            border-radius: 4px;
        }
    }
}

.modal-template {
    position: relative;
    min-width: 51.5rem;
    background-color: $color-bg-light-strong;
    padding: 2.15rem;
    box-sizing: border-box;
    border-radius: 0.3rem;

    overflow: auto;

    @include mappy-query(tablet) {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }

    .modal-template-title {
        @include text-style-header;
        margin: 0 0 1.2em;
        color: $color-text-dark-strong;

        @include mappy-query(tablet) {
            margin-bottom: 0.7em;
        }
    }
}