@import "src/styles/variables.scss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: $app-font-size;
}

body {
    background-color: $color-bg-light-tinted;

    &.--modal-active {
        box-sizing: border-box;
        overflow: hidden;
    }
}

#app {
    font-family: $app-font;
}

::placeholder {
    color: $color-text-dark-normal;
}

button[type="button"], label {
    cursor: pointer;
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}