@import "src/styles/variables.scss";

.modal-add-category {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid $color-text-dark-faded;

    .modal-add-category-error {
        @include text-style-small;
        color: rgba(255, 0, 0, 0.6);
        align-self: flex-end;

        margin: 0 0.5rem 0.5rem 0;

        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }
}